@import '../../assets/scss/vars';

.registration {
  position: relative;
  margin-bottom: 100px;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 32px;
  }

  @media (min-width: 1024px) {
    padding: 0 50px;
  }

  &Form {
    &Heading {
      margin-bottom: 50px;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
    }

    &SubHeading {
      margin-bottom: 14px;
      font-size: 16px;
    }

    &Row {
      width: 100%;
      max-width: 380px;
      margin: 0 auto;
    }

    &Input {
      display: block;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 43px;
      }
    }

    &PositionList {
      margin-bottom: 50px;
    }

    &PositionItem {
      margin-top: 13px;
    }

    &Upload {
      margin-bottom: 50px;
    }

    &Submit {
      margin: 0 auto;
    }

    &Disappearing {
      opacity: 0;
      animation: formDisappearing 1s linear;
    }

    &Error {
      margin-top: 8px;
      text-align: center;
      font-size: 14px;
      color: $error-color;
    }
  }

  &Success {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    text-align: center;
    animation: successMessageAppearing 300ms;

    &Image {
      width: 100%;
      max-width: 328px;
    }
  }
}

@keyframes formDisappearing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes successMessageAppearing {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
